.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.708008;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.202148;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.172852;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.739746;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.982910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.739746;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.100098;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-1.221912px;}
._4{width:1.192932px;}
._e{width:2.881444px;}
._0{width:4.016204px;}
._3{width:5.089843px;}
._6{width:14.673375px;}
._c{width:17.758533px;}
._12{width:30.088322px;}
._11{width:31.917485px;}
._5{width:42.733402px;}
._b{width:43.758548px;}
._7{width:45.193017px;}
._9{width:49.577664px;}
._d{width:69.734797px;}
._1{width:82.391837px;}
._a{width:126.215157px;}
._2{width:134.960374px;}
._f{width:140.650574px;}
._10{width:187.239739px;}
._13{width:671.583592px;}
.fc4{color:rgb(209,52,56);}
.fc3{color:transparent;}
.fc2{color:rgb(0,0,255);}
.fc5{color:rgb(255,255,255);}
.fc1{color:rgb(127,127,127);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:35.931900px;}
.fs0{font-size:39.764400px;}
.fs3{font-size:44.076300px;}
.fs1{font-size:63.719100px;}
.y0{bottom:0.000000px;}
.y4{bottom:3.600015px;}
.yac{bottom:3.959953px;}
.y76{bottom:3.959988px;}
.ybb{bottom:3.959997px;}
.yc1{bottom:3.960006px;}
.y7f{bottom:3.960021px;}
.y93{bottom:3.960022px;}
.y3{bottom:54.360008px;}
.y2{bottom:57.960022px;}
.y1{bottom:75.600013px;}
.y39{bottom:103.860008px;}
.y6e{bottom:109.799973px;}
.y38{bottom:122.220017px;}
.y6d{bottom:127.980011px;}
.yb8{bottom:137.159981px;}
.y37{bottom:140.399986px;}
.y6c{bottom:146.340019px;}
.yb6{bottom:151.919975px;}
.yb7{bottom:155.519989px;}
.y36{bottom:159.659981px;}
.y6b{bottom:164.700027px;}
.yb4{bottom:169.740006px;}
.yb5{bottom:171.899986px;}
.yb3{bottom:173.700027px;}
.y35{bottom:178.740006px;}
.y6a{bottom:183.059967px;}
.y34{bottom:197.820030px;}
.y69{bottom:201.240006px;}
.yb2{bottom:206.279983px;}
.y33{bottom:216.899986px;}
.y68{bottom:219.600013px;}
.yb1{bottom:224.639992px;}
.y32{bottom:235.980011px;}
.y67{bottom:237.960022px;}
.yae{bottom:239.399986px;}
.yb0{bottom:243.000000px;}
.y31{bottom:255.059967px;}
.y66{bottom:256.320030px;}
.yab{bottom:257.220017px;}
.yad{bottom:259.379998px;}
.yaa{bottom:261.179970px;}
.yaf{bottom:261.360008px;}
.y30{bottom:273.419975px;}
.y65{bottom:274.500000px;}
.y2f{bottom:291.779983px;}
.y64{bottom:292.860008px;}
.ya8{bottom:293.580025px;}
.ya9{bottom:297.000000px;}
.y2e{bottom:310.139992px;}
.ya6{bottom:311.399986px;}
.y63{bottom:311.940033px;}
.ya7{bottom:313.559967px;}
.ya5{bottom:315.360008px;}
.y2d{bottom:329.220017px;}
.y62{bottom:330.299973px;}
.y2c{bottom:347.580025px;}
.ya2{bottom:347.940033px;}
.y61{bottom:349.200027px;}
.y2b{bottom:366.659981px;}
.y60{bottom:368.639992px;}
.ya1{bottom:375.299973px;}
.y2a{bottom:385.740006px;}
.y5f{bottom:387.000000px;}
.ya0{bottom:393.659981px;}
.y29{bottom:404.100013px;}
.y5e{bottom:405.360008px;}
.ya4{bottom:411.480011px;}
.y9f{bottom:420.840019px;}
.y28{bottom:423.179970px;}
.y5d{bottom:423.720017px;}
.y9e{bottom:426.419975px;}
.ya3{bottom:429.840019px;}
.y27{bottom:441.360008px;}
.y5c{bottom:442.799973px;}
.y9c{bottom:444.240006px;}
.y9d{bottom:446.399986px;}
.y9b{bottom:448.200027px;}
.y26{bottom:459.720017px;}
.y5b{bottom:461.159981px;}
.y25{bottom:478.080025px;}
.y5a{bottom:479.879998px;}
.y9a{bottom:480.779983px;}
.y24{bottom:496.259994px;}
.y99{bottom:499.139992px;}
.y59{bottom:500.039977px;}
.y23{bottom:514.620002px;}
.y98{bottom:517.500000px;}
.y58{bottom:519.659981px;}
.y22{bottom:533.519989px;}
.y97{bottom:535.679970px;}
.y57{bottom:538.019989px;}
.y21{bottom:553.679970px;}
.y56{bottom:556.379998px;}
.y96{bottom:563.039977px;}
.y20{bottom:573.299973px;}
.y55{bottom:574.559967px;}
.y95{bottom:581.399986px;}
.y1f{bottom:592.019989px;}
.y54{bottom:592.919975px;}
.y92{bottom:595.620002px;}
.y94{bottom:597.779983px;}
.y91{bottom:599.580025px;}
.y53{bottom:612.000000px;}
.y1e{bottom:612.180004px;}
.y52{bottom:631.079990px;}
.y1d{bottom:631.800007px;}
.y8f{bottom:632.160015px;}
.y1c{bottom:650.160015px;}
.y51{bottom:650.339985px;}
.y8e{bottom:650.519989px;}
.y1b{bottom:668.519989px;}
.y50{bottom:669.420010px;}
.y8d{bottom:677.699993px;}
.y1a{bottom:686.879998px;}
.y4f{bottom:688.500000px;}
.y8c{bottom:705.060001px;}
.y19{bottom:705.959988px;}
.y4e{bottom:706.680004px;}
.y90{bottom:723.420010px;}
.y18{bottom:725.040012px;}
.y8a{bottom:729.000000px;}
.y8b{bottom:732.420010px;}
.y4d{bottom:743.399986px;}
.y17{bottom:744.120002px;}
.y88{bottom:746.819995px;}
.y89{bottom:748.980011px;}
.y87{bottom:750.779983px;}
.y4c{bottom:762.480011px;}
.y16{bottom:763.199993px;}
.y4b{bottom:781.560001px;}
.y15{bottom:782.279983px;}
.y85{bottom:783.360008px;}
.y4a{bottom:800.639992px;}
.y14{bottom:801.540012px;}
.y84{bottom:801.720017px;}
.y49{bottom:819.540012px;}
.y83{bottom:819.899986px;}
.y13{bottom:820.620002px;}
.y82{bottom:838.259994px;}
.y12{bottom:839.699993px;}
.y86{bottom:856.439999px;}
.y81{bottom:856.620002px;}
.y11{bottom:858.779983px;}
.y48{bottom:859.319995px;}
.y7e{bottom:870.839985px;}
.y80{bottom:873.000000px;}
.y7d{bottom:874.800007px;}
.y47{bottom:877.680004px;}
.y10{bottom:878.399987px;}
.y46{bottom:895.860008px;}
.y7c{bottom:907.379998px;}
.y45{bottom:914.219999px;}
.yf{bottom:916.379998px;}
.y7b{bottom:925.740006px;}
.y44{bottom:933.300007px;}
.ye{bottom:934.740006px;}
.y7a{bottom:944.099997px;}
.yc7{bottom:948.960004px;}
.y43{bottom:952.379998px;}
.yd{bottom:953.819996px;}
.y78{bottom:967.860008px;}
.y42{bottom:970.740006px;}
.y79{bottom:971.280001px;}
.yc{bottom:972.900003px;}
.yc6{bottom:977.400003px;}
.y75{bottom:985.680004px;}
.y77{bottom:987.840002px;}
.y74{bottom:989.639992px;}
.y41{bottom:989.819996px;}
.yb{bottom:991.979994px;}
.yc5{bottom:1006.020006px;}
.y40{bottom:1008.180004px;}
.ya{bottom:1011.060001px;}
.y73{bottom:1025.819996px;}
.y3f{bottom:1027.259994px;}
.y9{bottom:1030.139992px;}
.yc3{bottom:1038.419992px;}
.yc4{bottom:1041.840002px;}
.y71{bottom:1044.000000px;}
.y72{bottom:1044.180004px;}
.y3e{bottom:1046.340002px;}
.y8{bottom:1049.760003px;}
.yc0{bottom:1056.239997px;}
.yc2{bottom:1058.400003px;}
.ybf{bottom:1060.200002px;}
.y3d{bottom:1064.700002px;}
.y7{bottom:1069.920001px;}
.y70{bottom:1076.579999px;}
.y3c{bottom:1083.060001px;}
.y6{bottom:1091.879998px;}
.ybd{bottom:1092.599997px;}
.ybe{bottom:1096.019998px;}
.y6f{bottom:1099.980002px;}
.y3b{bottom:1101.420001px;}
.yba{bottom:1110.420001px;}
.y5{bottom:1111.140000px;}
.ybc{bottom:1112.579999px;}
.yb9{bottom:1114.379998px;}
.y3a{bottom:1119.600001px;}
.h3{height:16.919975px;}
.hc{height:18.179970px;}
.he{height:18.180000px;}
.h9{height:18.180003px;}
.hb{height:18.180005px;}
.hd{height:18.180038px;}
.h1{height:27.609852px;}
.ha{height:34.405526px;}
.h5{height:36.791599px;}
.h7{height:39.550822px;}
.h2{height:40.715794px;}
.h8{height:43.839562px;}
.h6{height:45.130860px;}
.h4{height:65.243629px;}
.h0{height:1188.000000px;}
.w2{width:1.080007px;}
.w1{width:157.320030px;}
.w0{width:918.000000px;}
.x0{left:0.000000px;}
.x4{left:54.000000px;}
.x9{left:62.460000px;}
.x8{left:79.560001px;}
.x5{left:81.000000px;}
.x6{left:85.319996px;}
.xb{left:89.459997px;}
.x7{left:108.000000px;}
.xc{left:116.459997px;}
.xd{left:126.000000px;}
.x2{left:157.319996px;}
.xe{left:274.680005px;}
.x10{left:301.680005px;}
.x11{left:328.680005px;}
.x1{left:459.000000px;}
.xa{left:678.779983px;}
.x3{left:760.679970px;}
.xf{left:767.159981px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._8{margin-left:-1.086144pt;}
._4{width:1.060384pt;}
._e{width:2.561284pt;}
._0{width:3.569959pt;}
._3{width:4.524305pt;}
._6{width:13.043000pt;}
._c{width:15.785362pt;}
._12{width:26.745175pt;}
._11{width:28.371098pt;}
._5{width:37.985246pt;}
._b{width:38.896487pt;}
._7{width:40.171571pt;}
._9{width:44.069034pt;}
._d{width:61.986486pt;}
._1{width:73.237188pt;}
._a{width:112.191251pt;}
._2{width:119.964777pt;}
._f{width:125.022733pt;}
._10{width:166.435324pt;}
._13{width:596.963193pt;}
.fs2{font-size:31.939467pt;}
.fs0{font-size:35.346133pt;}
.fs3{font-size:39.178933pt;}
.fs1{font-size:56.639200pt;}
.y0{bottom:0.000000pt;}
.y4{bottom:3.200013pt;}
.yac{bottom:3.519958pt;}
.y76{bottom:3.519989pt;}
.ybb{bottom:3.519997pt;}
.yc1{bottom:3.520005pt;}
.y7f{bottom:3.520019pt;}
.y93{bottom:3.520020pt;}
.y3{bottom:48.320007pt;}
.y2{bottom:51.520020pt;}
.y1{bottom:67.200012pt;}
.y39{bottom:92.320007pt;}
.y6e{bottom:97.599976pt;}
.y38{bottom:108.640015pt;}
.y6d{bottom:113.760010pt;}
.yb8{bottom:121.919983pt;}
.y37{bottom:124.799988pt;}
.y6c{bottom:130.080017pt;}
.yb6{bottom:135.039978pt;}
.yb7{bottom:138.239990pt;}
.y36{bottom:141.919983pt;}
.y6b{bottom:146.400024pt;}
.yb4{bottom:150.880005pt;}
.yb5{bottom:152.799988pt;}
.yb3{bottom:154.400024pt;}
.y35{bottom:158.880005pt;}
.y6a{bottom:162.719971pt;}
.y34{bottom:175.840027pt;}
.y69{bottom:178.880005pt;}
.yb2{bottom:183.359985pt;}
.y33{bottom:192.799988pt;}
.y68{bottom:195.200012pt;}
.yb1{bottom:199.679993pt;}
.y32{bottom:209.760010pt;}
.y67{bottom:211.520020pt;}
.yae{bottom:212.799988pt;}
.yb0{bottom:216.000000pt;}
.y31{bottom:226.719971pt;}
.y66{bottom:227.840027pt;}
.yab{bottom:228.640015pt;}
.yad{bottom:230.559998pt;}
.yaa{bottom:232.159973pt;}
.yaf{bottom:232.320007pt;}
.y30{bottom:243.039978pt;}
.y65{bottom:244.000000pt;}
.y2f{bottom:259.359985pt;}
.y64{bottom:260.320007pt;}
.ya8{bottom:260.960022pt;}
.ya9{bottom:264.000000pt;}
.y2e{bottom:275.679993pt;}
.ya6{bottom:276.799988pt;}
.y63{bottom:277.280029pt;}
.ya7{bottom:278.719971pt;}
.ya5{bottom:280.320007pt;}
.y2d{bottom:292.640015pt;}
.y62{bottom:293.599976pt;}
.y2c{bottom:308.960022pt;}
.ya2{bottom:309.280029pt;}
.y61{bottom:310.400024pt;}
.y2b{bottom:325.919983pt;}
.y60{bottom:327.679993pt;}
.ya1{bottom:333.599976pt;}
.y2a{bottom:342.880005pt;}
.y5f{bottom:344.000000pt;}
.ya0{bottom:349.919983pt;}
.y29{bottom:359.200012pt;}
.y5e{bottom:360.320007pt;}
.ya4{bottom:365.760010pt;}
.y9f{bottom:374.080017pt;}
.y28{bottom:376.159973pt;}
.y5d{bottom:376.640015pt;}
.y9e{bottom:379.039978pt;}
.ya3{bottom:382.080017pt;}
.y27{bottom:392.320007pt;}
.y5c{bottom:393.599976pt;}
.y9c{bottom:394.880005pt;}
.y9d{bottom:396.799988pt;}
.y9b{bottom:398.400024pt;}
.y26{bottom:408.640015pt;}
.y5b{bottom:409.919983pt;}
.y25{bottom:424.960022pt;}
.y5a{bottom:426.559998pt;}
.y9a{bottom:427.359985pt;}
.y24{bottom:441.119995pt;}
.y99{bottom:443.679993pt;}
.y59{bottom:444.479980pt;}
.y23{bottom:457.440002pt;}
.y98{bottom:460.000000pt;}
.y58{bottom:461.919983pt;}
.y22{bottom:474.239990pt;}
.y97{bottom:476.159973pt;}
.y57{bottom:478.239990pt;}
.y21{bottom:492.159973pt;}
.y56{bottom:494.559998pt;}
.y96{bottom:500.479980pt;}
.y20{bottom:509.599976pt;}
.y55{bottom:510.719971pt;}
.y95{bottom:516.799988pt;}
.y1f{bottom:526.239990pt;}
.y54{bottom:527.039978pt;}
.y92{bottom:529.440002pt;}
.y94{bottom:531.359985pt;}
.y91{bottom:532.960022pt;}
.y53{bottom:544.000000pt;}
.y1e{bottom:544.160004pt;}
.y52{bottom:560.959991pt;}
.y1d{bottom:561.600006pt;}
.y8f{bottom:561.920013pt;}
.y1c{bottom:577.920013pt;}
.y51{bottom:578.079987pt;}
.y8e{bottom:578.239990pt;}
.y1b{bottom:594.239990pt;}
.y50{bottom:595.040009pt;}
.y8d{bottom:602.399994pt;}
.y1a{bottom:610.559998pt;}
.y4f{bottom:612.000000pt;}
.y8c{bottom:626.720001pt;}
.y19{bottom:627.519989pt;}
.y4e{bottom:628.160004pt;}
.y90{bottom:643.040009pt;}
.y18{bottom:644.480011pt;}
.y8a{bottom:648.000000pt;}
.y8b{bottom:651.040009pt;}
.y4d{bottom:660.799988pt;}
.y17{bottom:661.440002pt;}
.y88{bottom:663.839996pt;}
.y89{bottom:665.760010pt;}
.y87{bottom:667.359985pt;}
.y4c{bottom:677.760010pt;}
.y16{bottom:678.399994pt;}
.y4b{bottom:694.720001pt;}
.y15{bottom:695.359985pt;}
.y85{bottom:696.320007pt;}
.y4a{bottom:711.679993pt;}
.y14{bottom:712.480011pt;}
.y84{bottom:712.640015pt;}
.y49{bottom:728.480011pt;}
.y83{bottom:728.799988pt;}
.y13{bottom:729.440002pt;}
.y82{bottom:745.119995pt;}
.y12{bottom:746.399994pt;}
.y86{bottom:761.279999pt;}
.y81{bottom:761.440002pt;}
.y11{bottom:763.359985pt;}
.y48{bottom:763.839996pt;}
.y7e{bottom:774.079987pt;}
.y80{bottom:776.000000pt;}
.y7d{bottom:777.600006pt;}
.y47{bottom:780.160004pt;}
.y10{bottom:780.799988pt;}
.y46{bottom:796.320007pt;}
.y7c{bottom:806.559998pt;}
.y45{bottom:812.639999pt;}
.yf{bottom:814.559998pt;}
.y7b{bottom:822.880005pt;}
.y44{bottom:829.600006pt;}
.ye{bottom:830.880005pt;}
.y7a{bottom:839.199997pt;}
.yc7{bottom:843.520004pt;}
.y43{bottom:846.559998pt;}
.yd{bottom:847.839996pt;}
.y78{bottom:860.320007pt;}
.y42{bottom:862.880005pt;}
.y79{bottom:863.360001pt;}
.yc{bottom:864.800003pt;}
.yc6{bottom:868.800003pt;}
.y75{bottom:876.160004pt;}
.y77{bottom:878.080002pt;}
.y74{bottom:879.679993pt;}
.y41{bottom:879.839996pt;}
.yb{bottom:881.759995pt;}
.yc5{bottom:894.240005pt;}
.y40{bottom:896.160004pt;}
.ya{bottom:898.720001pt;}
.y73{bottom:911.839996pt;}
.y3f{bottom:913.119995pt;}
.y9{bottom:915.679993pt;}
.yc3{bottom:923.039993pt;}
.yc4{bottom:926.080002pt;}
.y71{bottom:928.000000pt;}
.y72{bottom:928.160004pt;}
.y3e{bottom:930.080002pt;}
.y8{bottom:933.120003pt;}
.yc0{bottom:938.879997pt;}
.yc2{bottom:940.800003pt;}
.ybf{bottom:942.400002pt;}
.y3d{bottom:946.400002pt;}
.y7{bottom:951.040001pt;}
.y70{bottom:956.959999pt;}
.y3c{bottom:962.720001pt;}
.y6{bottom:970.559998pt;}
.ybd{bottom:971.199997pt;}
.ybe{bottom:974.239998pt;}
.y6f{bottom:977.760002pt;}
.y3b{bottom:979.040001pt;}
.yba{bottom:987.040001pt;}
.y5{bottom:987.680000pt;}
.ybc{bottom:988.959999pt;}
.yb9{bottom:990.559998pt;}
.y3a{bottom:995.200001pt;}
.h3{height:15.039978pt;}
.hc{height:16.159973pt;}
.he{height:16.160000pt;}
.h9{height:16.160003pt;}
.hb{height:16.160004pt;}
.hd{height:16.160034pt;}
.h1{height:24.542091pt;}
.ha{height:30.582690pt;}
.h5{height:32.703643pt;}
.h7{height:35.156286pt;}
.h2{height:36.191817pt;}
.h8{height:38.968500pt;}
.h6{height:40.116320pt;}
.h4{height:57.994337pt;}
.h0{height:1056.000000pt;}
.w2{width:0.960006pt;}
.w1{width:139.840027pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x4{left:48.000000pt;}
.x9{left:55.520000pt;}
.x8{left:70.720001pt;}
.x5{left:72.000000pt;}
.x6{left:75.839996pt;}
.xb{left:79.519997pt;}
.x7{left:96.000000pt;}
.xc{left:103.519997pt;}
.xd{left:112.000000pt;}
.x2{left:139.839996pt;}
.xe{left:244.160004pt;}
.x10{left:268.160004pt;}
.x11{left:292.160004pt;}
.x1{left:408.000000pt;}
.xa{left:603.359985pt;}
.x3{left:676.159973pt;}
.xf{left:681.919983pt;}
}
